// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin: 48px auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  height: 28px;
}
